<%= form_for @category do |form| %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class:"form-control" %>
      </div>
    </div>
  </div>
  <%= form.submit button_name, class:"btn btn-primary" %>
<% end %>
