<%= flash_messages %>
<table class="table table-bordered table-hover">
  <%= render "products_list_headers" %>
  <tbody>
    <%= render @products %>
  </tbody>
</table>

<%= button_to "New product", new_product_path, method: :get, class: "btn btn-primary"  %>
